<header>
    <nav>
        <ul>
            <li>
                <img src="/assets/DiProRex-Logo.png"/> 
                <a href="/admin/service/list"> Volver a la lista</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/signout">Cerrar sesion</a>
            </li>
        </ul>
    </nav>
</header>