<!DOCTYPE html>
<html>
  <head>
    <title>Carrito de compras</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/cart.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include('../partials/headerLogueado.ejs') %> 
    <main>
      <section class="section">
        <div class="intro" >
            <p>Estos son los servicios que has elegido hasta el momento</p>
        </div>

        <div class="subtotal" id="Primero">
            <a href="/">
              <h3>Volver</h3>                  
            </a>  
            <a href="/confirmacion%>" >
              <h3>Ir a pagar</h3>                  
            </a>  
          <p id="WAWAW">Total a pagar: $ 600</p>
        </div>  
      </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
    <script src="/js/listaCompra.js"></script>
  </body>
</html>