<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link href="/css/formulario.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%- include('../partials/header.ejs') %> 
    <main>
      <section class="section" id="inicio">
        <h1>DiPro Rex: Soluciones de diseño</h1>
        <p> Hacemos posible tu idea </p>
      </section>
      <h1 class="welcome">¡Estamos felices que te quieras registrar!</h1>
      <div class="formularios">  
          <form action="/registro" method="post">
            <div>
              <label for="nameUser">¿Como prefieres que te llamemos?</label>
              <input id="nameUser" name="nameUser" type="text" placeholder="¿Cual es tu nombre?"/>
            </div>
            <div>
              <label for="user">¿Cual deseas que sea tu nombre de usuario para loguearte?</label>
              <input id="user" name="user" type="text" placeholder="Ingresa tu nombre de usiario" required/>
            </div>
            <br>
            <div>
              <label for="correo">¿Cual es tu correo electronico?</label>
              <input id="correo" name="correo" type="email" placeholder="Ingresa tu correo electronico" required/>
            </div>
            <br>
            <div>
              <label for="ubicacion">¿Cual es tu pais de residencia?</label>
              <input id="ubicacion" name="ubicacion" type="text" placeholder="¿Donde resides?"/>
            </div>
            <br>
            <div>
              <label for="password">Ingresa tu contraseña</label>
              <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required/>
            </div>
            <br>
            <div>
              <label for="password2">Por favor, re-ingresa tu contraseña</label>
              <input type="password" id="password2" name="password2" placeholder="Re-Ingresa tu contraseña" required/>
            </div>
            <br>
            <div>
              <span id="password-error"></span>
              <span id="password-error-2"></span>
            </div>
            <button type="submit" id="registroBoton">
              Crear usuario
            </button>
          </form>
      </div>
    </main>
  </body>
  <%- include('../partials/footer.ejs') %> 
  <script src="/js/testPass.js"></script>
</html>